:root {
    /* Light theme colors */
    --background: #d8dbe2;   /* platinum */
    --surface: #a9bcd0;      /* powder-blue */
    --primary: #58a4b0;      /* moonstone */
    --secondary: #373f51;    /* charcoal */
    --tertiary: #1b1b1e;     /* eerie-black */
}

@media (prefers-color-scheme: dark) {
    form {
        /* Dark theme overrides */
        --background: #1b1b1e;   /* eerie-black */
        --surface: #373f51;      /* charcoal */
        --primary: #58a4b0;      /* moonstone stays same */
        --secondary: #a9bcd0;    /* lighter blue */
        --tertiary: #d8dbe2;     /* platinum for contrast */
    }
}



body {
    font-family: "Lucinda Sans", sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
}


.title-section {
	text-align: center;
}

h1 {
	font-size: 96px;
	margin: 0px;
	padding: 10px
}

h3 {
	margin: 0px;
}

.commandline-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.command-area {
	width: 1200px;
	height: 675px;
	border-radius: 25px;
	background-color: var(--secondary);
	color: var(--background);
	font-size: 128;
}



.command-section {
	padding: 15px;
}

.command-group {
	display: flex;
	flex-direction: row;
}

.command {
	margin: 0px
}

.command-result {
	margin: 0px
}

